<section class="col-md-5 signup-wrapper">
	<h1>Sign Up</h1>
	<%= form_for @user do |user_fields| %>
		<div class="row form-signup-wrapper form-group">
			<div class="col-md-6">
  				<%= user_fields.text_field :first_name, :placeholder => "First Name", class: "form-control", id: "inputFirstName" %><%= form_field_error_messages(@user, :first_name) %>
			</div>
			<div class="col-md-6">
  				<%= user_fields.text_field :last_name, :placeholder => "Last Name", class: "form-control", id: "inputLastName" %><%= form_field_error_messages(@user, :last_name) %>
			</div>
		</div>
		<div class="row form-signup-wrapper form-group">
			<div class="col-md-12">
  				<%= user_fields.text_field :email, :placeholder => "Your Email", class: "form-control", id: "inputEmail" %><%= form_field_error_messages(@user, :email) %>
			</div>
		</div>
		<div class="row form-signup-wrapper form-group">
			<div class="col-md-12">
		  		<%= user_fields.password_field :password, :placeholder => "Your New Password", class: "form-control", id: "inputPassword" %><%= form_field_error_messages(@user, :password) %>
			</div>
		</div>
		<div class="row form-signup-wrapper form-group">
			<div class="col-md-12">
		  		<%= user_fields.password_field :password_confirmation, :placeholder => "Confirm Your Password", class: "form-control", id: "inputConfirmPassword" %><%= form_field_error_messages(@user, :password_confirmation) %>
			</div>
		</div>
		<h3>Birthday</h3>
		<div class="row form-signup-wrapper form-group">
			<div class="col-md-12">
		  		<%= user_fields.date_field :birthday, class: "form-control", id: "inputConfirmPassword" %><%= form_field_error_messages(@user, :birthday) %>
			</div>
		</div>
		<div class="row form-signup-wrapper form-group">
			<div class="col-md-3">
				<input disabled type="radio" name="optradio" id="genderFemale">
				<label for="genderFemale">Female</label>
			</div>
			<div class="col-md-2">
				<input disabled type="radio" name="optradio" id="genderMale">
				<label for="genderMale">Male</label>
			</div>
		</div>
		<div class="row form-signup-wrapper form-group">
			<%= user_fields.submit "Sign Up!", class: "btn btn-success btn-signup btn-lg" %>
		</div>
	<% end %>
</section>