<% if signed_in_user? %>
	<nav class="navbar navbar-inverse clearfix container-fluid">
		<div class="navbar-wrapper">
			<a href="/"><%= image_tag "danish_flag.gif", class:"img-circle", alt:"Danish Flag Logo" %></a>
			<label class="danebook-label">Danebook</label>
			<form>
				<input type="text" class="form-control" id="inputFirstName" placeholder="Search for Users">
			</form>
			<label class="name-label"><%= current_user.email %></label>
			<%= form_tag session_path, method: "delete" do %>
				<%= submit_tag "Sign Out", class: "btn btn-info signout-button" %>
			<% end %>
		</div>
	</nav>
<% else %>
	<nav class="navbar navbar-inverse clearfix">
		<div class="navbar-header navbar-left">
			<h1>Danebook</h1>
		</div>
		<div class="navbar-right signin-wrapper">
			<%= render "shared/login" %>
		</div>
	</nav>
<% end %>